<ion-header style="background-color:white;display:flex;justify-content: center">
  <ion-navbar>
    <ion-title>
      工单详情
    </ion-title>
  </ion-navbar>
  <!--<div style="display: flex;justify-content: center">-->
    <!--<button style="padding: 20px;background-color: #488aff;color: white" class="button">-->
      <!--导航-->
    <!--</button>-->
  <!--</div>-->
</ion-header>
<ion-content style="margin:5%">
  <div style="margin-top: 5px;margin-bottom: 5px">
    服务单号： {{myworklistDetailData.work_sheet_no}}
  </div>
  <div style="margin-top: 5px;margin-bottom: 5px">
    车牌号：{{myworklistDetailData.plate_num}}
  </div>
  <div style="margin-top: 5px;margin-bottom: 5px">
    车辆编号：{{myworklistDetailData.car_no}}
  </div >
  <div style="margin-top: 5px;margin-bottom: 5px">
    取车位置：{{myworklistDetailData.parking_site_name}}
  </div>
  <div style="margin-top: 5px;margin-bottom: 5px">
    工单时间：{{myworklistDetailData.work_sheet_date_format}}
  </div>
  <div style="margin-top: 5px;margin-bottom: 5px">
    服务类型：{{myworklistDetailData.work_sheet_category_name}}
  </div>
  <div style="margin-top: 5px;margin-bottom: 5px">
    服务状态：{{myworklistDetailData.work_sheet_status_name}}
  </div>
  <div>
    工单描述：
  </div>
  <div style="margin-top: 20px;width:200%;height: 10px;background-color: #f9f9f9"></div>
  <div *ngIf="ifShow" style="display: flex;text-align:center;margin-top: 20px;">
    <div  style="width: 31%;height: 70px;" (click)="openCar()" >
    <img style="width: 50px;height: 50px" src="assets/img/car_unlock_defult.png">
    <p >打开车门</p>
    </div>
    <div  style="width:31%;height: 70px;" (click)="stopCar()">
    <img style="width: 50px;height: 50px"src="assets/img/car_unlock_defult.png">
    <p>锁闭车辆</p>
    </div>
    <div  style="width:31%;height: 70px;" (click)="musicCar()" >
    <img style="width: 50px;height: 50px"src="assets/img/car_unlock_defult.png">
    <p>鸣笛找车</p>
    </div>
  </div>


  <div >
   <ion-grid  >

   <ion-row >
     <ion-col   >
       <img  style="width: 100px;height: 100px;margin: 1px" *ngFor="let ii of this.myworklistDetailData.myworklistsImg,let i = index"  src={{ii.thumb}}>
     </ion-col>
   </ion-row>

 </ion-grid>

  </div>



</ion-content>

<ion-footer id = 'footer'>
  <div style="background-color:white;display: flex;
  justify-content:center;
  align-items:center;">
    <button style="width: 90%" id = 'btn' ion-button round (click)="operateSheet()">确定接收工单</button>
  </div>
</ion-footer>
