<ion-header style="background-color:white;display:flex;justify-content: center">
  <ion-navbar>
    <ion-title>
      站点
    </ion-title>
  </ion-navbar>
  <div style="display: flex;justify-content: center">
    <button style="padding: 20px;background-color: #488aff;color: white" class="button">
      导航
    </button>
  </div>
</ion-header>

<ion-content style="margin: 2%" >
  <div style="color:black;font-size: large;margin: 3px;">
    {{ parking_site_name }}
  </div>
  <div style="color:#616161;font-size: medium">
    {{parking_site_address}}
  </div>
  <div style="color:#616161;font-size: medium">
    <span>待处理 {{pending_work_sheet_count}}</span>
  </div>

  <div style="width:100%;height: 15px;background-color: #f9f9f9"></div>
  <div *ngIf="ifShow_mysets" style="width:130px;height: 130px;text-align:center;margin:auto;margin-top: 30px;">
    <img src="./assets/img/ic_common_notice.png">
    <p>暂无待处理订单</p>
  </div>
  <ion-list inset no-lines style="background-color:#f4f4f4">
    <ion-item style="background-color:white;margin-top: 5px;margin-bottom: 10px;" *ngFor="let item of workLists"
              (click)=" openMySheetPage(item)">
     <ion-row>
      <ion-col  >
        <div >服务单号：{{item.work_sheet_no}}</div>
        <div >车牌号{{item.car_info.plate_no}}</div>
        <div >工单类型 :{{item.work_sheet_category_info.work_sheet_category_name}} </div>
        <div style="color:#f53d3d">服务状态 {{item.work_sheet_status_info.work_sheet_status_name}} </div>
        <div style="color:gray"> {{item.work_sheet_date_format}} </div>
      </ion-col >
      <ion-buttons  style="border: 1px solid white;padding: 10px;
  border-radius: 10px;margin:auto;background-color: #488aff;color: #f4f4f4"> 接收工单</ion-buttons>
     </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
