<ion-header id="header">
  <div class="header-left" >
    <img src="assets/img/zhanghao.png"/>
  </div>
  <div class = "header-city">
    <span style="font-size:medium;">西安</span>
  </div>
  <div class="header-center">
    <span style="font-size:large">我的站点</span>
  </div>
  <div class="header-right" (click)="intoUserPage()">
    <img style="border-radius:15px;width: 30px;height: 30px;margin-top: 5px" src={{this.userParticulars.source}}/>
  </div>
</ion-header>

<ion-content>
  <ion-refresher  (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="获取最新数据..."
      refreshingSpinner="circles"
      refreshingText="刷新完毕">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list inset no-lines  style="background-color:#efeef3">
    <ion-item id="item-style" ion-item *ngFor="let item of items,let i = index" (click)="openNavDetailsPage(item)">
       <div style="color:black;font-size: large;margin: 3px;">
      {{ item.parking_site_name }}
    </div>
      <div style="color:#616161;font-size: medium">
        {{item.parking_site_address}}
    </div>
      <div>
        <span style="color:#616161;font-size: medium">待处理 ({{item.pending_work_sheet_count}})</span>
    </div>
      <ion-icon name="ios-arrow-forward" item-right></ion-icon>
    </ion-item>
      <!--<span ion-item *ngFor="let item of items" (click)="openNavDetailsPage(item)">-->
      <!--&lt;!&ndash;<ion-icon [name]="'logo-' + item.icon" [ngStyle]="{'color': item.color}" item-start></ion-icon>&ndash;&gt;-->
      <!--{{ item.title }}-->
        <!--{{item.icon}}-->
    <!--</span>-->
  </ion-list>
</ion-content>
