<ion-header id="header">
  <div class="header-left">
    <img src="assets/img/zhanghao.png"/>
  </div>
  <div class = "header-city">
    <span style="font-size:medium;">西安</span>
  </div>
  <div class="header-center">
    <span style="font-size:large">工单列表</span>
  </div>
  <div class="header-right">
    <img style="border-radius:15px;width: 30px;height: 30px;margin-top: 5px"(click)="onUser()" src={{this.userParticulars.thumb}}/>
  </div>
</ion-header>
<ion-content style="background-color: white">
    <ion-segment style="background-color:#efeef3" [(ngModel)]="myworklistType"  (ionChange)="sysChanged()">
      <ion-segment-button style="font-size:small;font-weight:bolder" value="undone" (click) = "loadData('2')">
        未完成
      </ion-segment-button>
      <ion-segment-button style="font-size:small;font-weight: bolder"  value="done" (click) = "loadData('3')">
        已完成
      </ion-segment-button>
    </ion-segment>
  <ion-refresher  (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="获取最新数据..."
      refreshingSpinner="circles"
      refreshingText="刷新完毕">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="ifShow_myworklists" style="width:150px;height: 150px;text-align:center;margin:auto;margin-top: 30px;">
    <img style="width:100px;height: 100px;" src="./assets/img/ic_common_notice.png">
    <p>暂无待处理订单</p>
  </div>
  <div [ngSwitch]="myworklistType">
    <ion-list no-lines inset *ngSwitchCase="'undone'">
      <ion-item style="background-color:white;margin-top: 5px;margin-bottom: 10px;" *ngFor="let item of mylists"
                (click)="startPage(item)">
        <div style="margin-top: 2px;margin-bottom: 2px">服务单号：{{item.work_sheet_no}}</div>
        <div style="margin-top: 2px;margin-bottom: 2px">车牌号{{item.car_info.plate_no}}</div>
        <div style="margin-top: 2px;margin-bottom: 2px;">工单类型 :{{item.work_sheet_category_info.work_sheet_category_name}} </div>
        <div style="margin-top: 2px;margin-bottom: 2px;color:#f53d3d">服务状态 {{item.work_sheet_status_info.work_sheet_status_name}} </div>
        <ion-icon name="ios-arrow-forward" item-right></ion-icon>
      </ion-item>

    </ion-list>
  <ion-list style="background-color: #f9f9f9" no-lines inset *ngSwitchCase="'done'">
    <ion-item style="background-color:white;margin-top: 5px;margin-bottom: 10px;" *ngFor="let item of mylists"
              (click)="startPage(item)">
      <div style="margin-top: 2px;margin-bottom: 2px">服务单号：{{item.work_sheet_no}}</div>
      <div style="margin-top: 2px;margin-bottom: 2px">车牌号{{item.car_info.plate_no}}</div>
      <div style="margin-top:2px;margin-bottom: 2px;">工单类型 :{{item.work_sheet_category_info.work_sheet_category_name}} </div>
      <div style="margin-top: 2px;margin-bottom: 2px;color:#f53d3d">服务状态 {{item.work_sheet_status_info.work_sheet_status_name}} </div>
      <ion-icon name="ios-arrow-forward" item-right></ion-icon>
    </ion-item>

  </ion-list>
  </div>
  <!--<div [ngSwitch]="pet">-->
    <!--<ion-list *ngSwitchCase="'puppies'">-->
      <!--<ion-item onclick="startPage()">-->
        <!--<h2>服务单号：531112312</h2>-->
        <!--<h2>车牌号：shanA</h2>-->
        <!--<h2>工单类型：车辆清洗</h2>-->
      <!--</ion-item>-->
      <!--<ion-item>-->
        <!--<h2>服务单号：53111231</h2>-->
        <!--<h2>车牌号：shanA</h2>-->
        <!--<h2>工单类型：车辆清洗</h2>-->
      <!--</ion-item>-->
      <!--<ion-item>-->
        <!--<h2>服务单号：53111231</h2>-->
        <!--<h2>车牌号：shanA</h2>-->
        <!--<h2>工单类型：车辆清洗</h2>-->
      <!--</ion-item>-->

    <!--</ion-list>-->

    <!--<ion-list *ngSwitchCase="'kittens'">-->
      <!--<ion-item>-->
        <!--<ion-thumbnail item-start>-->
          <!--<img src="assets/img/thumbnail-kitten-1.jpg">-->
        <!--</ion-thumbnail>-->
        <!--<h2>Luna</h2>-->
      <!--</ion-item>-->
      <!--<ion-item>-->
        <!--<ion-thumbnail item-start>-->
          <!--<img src="assets/img/thumbnail-kitten-3.jpg">-->
        <!--</ion-thumbnail>-->
        <!--<h2>Milo</h2>-->
      <!--</ion-item>-->
      <!--<ion-item>-->
        <!--<ion-thumbnail item-start>-->
          <!--<img src="assets/img/thumbnail-kitten-4.jpg">-->
        <!--</ion-thumbnail>-->
        <!--<h2>Bandit</h2>-->
      <!--</ion-item>-->
      <!--<ion-item>-->
        <!--<ion-thumbnail item-start>-->
          <!--<img src="assets/img/thumbnail-kitten-2.jpg">-->
        <!--</ion-thumbnail>-->
        <!--<h2>Nala</h2>-->
      <!--</ion-item>-->
    <!--</ion-list>-->
    <!--</div>-->
</ion-content>
