
<ion-header id="password_header">
  <img  class="password_header_img" (click)="passWordBack()"   src="assets/img/fanhui.png">
      <div class="password_header_div" style="display: flex;justify-content:center">
       密码修改
      </div>

</ion-header>
<!--<<ion-header>-->
  <!--<ion-navbar>-->
    <!--<ion-title >-->
      <!--<div style="display: flex;justify-content:center">-->
        <!--密码修改-->
      <!--</div>-->
    <!--</ion-title>-->

  <!--</ion-navbar>-->

<!--</ion-header>-->
<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" novalidate>
  <div style="margin: 10px">

    <ion-item [class.error]="!username.valid && username.touched">
      <ion-label >请输入原密码</ion-label>
      <ion-input   [(ngModel)]="oldpassword" [formControl]="username" type="text" value=""   ></ion-input>
    </ion-item>
    <div *ngIf="username.hasError('required') && username.touched" class="error-message">* 请输入原密码</div>
    <!--<div *ngIf="(username.hasError('minlength')||username.hasError('maxlength')||username.hasError('pattern')) && username.touched" class="error-message">* 请输入正确的电话号码</div>-->
    <ion-item>
      <ion-label>请输入新密码</ion-label>
      <ion-input [(ngModel)]="newpassword" [formControl]="password"  type="text" value=""></ion-input>
    </ion-item>
    <div *ngIf="password.hasError('required') && password.touched" class="error-message">* 请输入新密码</div>
    <!--<div *ngIf="(password.hasError('minlength')) && password.touched" class="error-message">* 密码长度最少为六位</div>-->
    <ion-item>
      <ion-label>  请重复输入新密码</ion-label>
      <ion-input [(ngModel)]="twonewpassword"[formControl]="twopassword" type="text" value=""></ion-input>
    </ion-item>
    <div *ngIf="twopassword.hasError('required') && twopassword.touched" class="error-message">* 请再次输入新密码</div>
    <!--<div *ngIf="(!twopassword.hasError('pattern') )&& twopassword.touched" class="error-message">* 两次新密码不一样</div>-->
    <span  style="margin-left: 5px">{{this.upState}}</span>
  </div>



  <div padding>
    <button [disabled]="!loginForm.valid" ion-button color="primary"   block>确认修改</button>
  </div>
  </form>
</ion-content>
