<ion-header id="header" style="background-color: #ffffff">
  <div class="header-left" >
    <img src="assets/img/zhanghao.png"/>
  </div>
  <div class = "header-city">
    <span style="font-size:medium;">西安</span>
  </div>
  <div class="header-center">
    <span style="font-size:16px;color: #000000">工单申请</span>
  </div>
  <div class="header-right" (click)="onUsers()">
    <img style="border-radius:15px;width: 30px;height: 30px;margin-top: 10px;margin-right: 10px"src={{this.userParticulars.thumb}}/>
  </div>

</ion-header>

<ion-content>

  <div style="font-size:14px;margin-top: 20px;margin-left:5%;margin-bottom: 10px">
       请输入车牌号
  </div>
  <!-- 车牌号复选框 -->
  <div id="carnum-bg">
    <!--<label >-->
      <!--<ion-select class="info-select"   [(ngModel)]="capital"  interface="action-sheet" >-->
        <!--<option   style="color:black;background-color:#ffffff;" *ngFor="let provlist of provinceList"  value={{this.provlist.province_code_id}} >{{this.provlist.province_code_name}}</option>-->
      <!--</ion-select>-->
    <!--</label>-->
    <ion-item-divider class="info_car_select_item">
      <ion-select class="info-select"   [(ngModel)]="capital"  interface="popover" >
        <ion-option   style="color:black;background-color:#ffffff;" *ngFor="let provlist of provinceList"  value={{this.provlist.province_code_id}} >{{this.provlist.province_code_name}}</ion-option>
      </ion-select>
    </ion-item-divider>

    <img style=" width: 40px;height: 30px;padding-right: 10px" src="assets/img/zhanghao.png">
    <div style="border-left:1px solid #E5E5E5;width:0.5px;height:25px;"> </div>
    <!--<ion-item>-->
      <!--<ion-select    style="margin: auto;  " [(ngModel)]="capital" inter:0.5pxaction-sheet" >-->
        <!--<ion-option *ngFor="let provlist of provinceList"  value={{this.provlist.province_code_id}} >{{this.provlist.province_code_name}}</ion-option>-->
      <!--</ion-select>-->
    <!--</ion-item>-->
    <input class="info-input" type="text" placeholder=" " [(ngModel)]="carnumbser" >
  </div>



  <div style="margin-bottom: 10px;font-size:14px;margin-top: 50px;margin-left: 5%">
    请输入工单类型
  </div>
  <!-- 工单类型复选框 -->
  <div id="cartype">
    <!--<ion-item   class="info-select-item">-->


<ion-item-divider class="info-select-item">
      <ion-select class="info-select-two"  [(ngModel)]="works" interface="action-sheet">
        <ion-option   style="    -webkit-appearance:none;-moz-appearance:none;appearance:none;color: #000;" value={{this.wor.work_sheet_category_id}} *ngFor="let wor of workList">{{this.wor.work_sheet_category_name}}</ion-option>
      </ion-select>
</ion-item-divider>
    <!--</ion-item>-->
    <img style=" width: 40px;height: 30px;padding-right: 10px" src="assets/img/zhanghao.png">
  </div>

  <div style="margin-bottom: 10px;font-size:14px;margin-top: 40px;margin-left:5%;">
    申请原因
  </div>
  <div style="margin-left: 5%;margin-right: 5%">
    <label >
      <input  type="text" placeholder="" [(ngModel)]="remark" style="border: 1px solid gray; border-radius: 5px;width: 100% ;height :200px;border-color: #c7c7c7;" >
    </label>
  </div>

  <!--第一排图片-->
  <div style="display: flex;justify-content: space-between;margin-left:5%;margin-right: 5%;margin-top: 20px">
    <div style="display: flex;">
    <img style="position: relative; width:80px;height: 80px"src={{this.photoInitial1}} (click)="photo1(1)" >
    <img style="position:absolute;margin-left:70px;margin-top:-10px;width:20px;height: 20px; "src="assets/img/photo_delete.png"  *ngIf="dele1" (click)="deletes(1)" >
    </div>

    <div style="display: flex">
      <img style="position: relative;width:80px;height: 80px"src={{this.photoInitial2}} (click)="photo1(2)" >
      <img style="position: absolute;margin-left:70px;margin-top:-10px;owidth:20px;height: 20px; align-items:flex-start;"src="assets/img/photo_delete.png"  *ngIf="dele2"(click)="deletes(2)" >
    </div>

    <div style="display: flex">
      <img style="position:relative;width:80px;height: 80px"src={{this.photoInitial3}} (click)="photo1(3)" >
      <img style="position:absolute;margin-left:70px;margin-top:-10px;width:20px;height: 20px; align-items:flex-start;"src="assets/img/photo_delete.png"  *ngIf="dele3" (click)="deletes(3)" >
    </div>
  </div>
  <!--第二排图片-->
  <div style="display: flex;justify-content: space-between;margin-left:5%;margin-right: 5%;margin-top: 20px">
    <div style="display: flex">
      <img style="position:relative;width:80px;height: 80px"src={{this.photoInitial4}} (click)="photo1(4)" >
      <img style="position:absolute;position:absolute;margin-left:70px;margin-top:-10px;width:20px;height: 20px; align-items:flex-start;"src="assets/img/photo_delete.png"  *ngIf="dele4"(click)="deletes(4)" >
    </div>

    <div style="display: flex">
      <img style="position:relative;width:80px;height: 80px"src={{this.photoInitial5}} (click)="photo1(5)" >
      <img style="position:absolute;position:absolute;margin-left:70px;margin-top:-10px;width:20px;height: 20px; align-items:flex-start;"src="assets/img/photo_delete.png"  *ngIf="dele5"(click)="deletes(5)" >
    </div>

    <div style="display: flex">
      <img style="position:relative;width:80px;height: 80px"src={{this.photoInitial6}} (click)="photo1(6)" >
      <img style="position:absolute;position:absolute;margin-left:70px;margin-top:-10px;width:20px;height: 20px; align-items:flex-start;"src="assets/img/photo_delete.png"  *ngIf="dele6"(click)="deletes(6)" >
    </div>
  </div>


  <div padding>
    <button (click)="workOk()" ion-button color="primary"   block>申请工单</button>
  </div>


</ion-content>
